* {
    box-sizing: border-box;
}

.start-quiz {
    border: 1px solid black;
    width: 50%;
    height:25%;
    margin: 0 auto;
    margin-top:15%;
    padding-top: 5%;
    padding-bottom: 5%;
    text-align:center;
    
}