* {
    box-sizing: border-box;
}

.start-quiz, .end-quiz{
    border: 1px solid black;
    width: 100%;
    height:300px;
    margin: 0 auto;
    margin-top:15%;
    padding-top: 5%;
    padding-bottom: 5%;
    text-align:center;
    
}

.quiz-content {
    border: 1px solid black;
    width: 100%;
    height:200px;
    margin: 0 auto;
    margin-top:15%;
    
}
h3{
    text-align:center;
    
}

.answers-container{
    border:1px solid black;
    display:flex;
    height:296px;
    flex-wrap:wrap;
    width:100%;
    margin: 0 auto;
  

}
.correct{
    border:3px solid green;
    
    width:fit-content;
    position: relative;
    bottom:50px;
    left:200px;
    color: green;
    
    
    
}


.correct-answer{
    border:4px solid lightgreen;
    width:100%;
    padding:0px;
    height:74px;
}
.answer{
    border:1px solid black;
    width:100%;
    padding:0px;
    height:74px;
}
    .wrong{
        border:3px solid red;
        
        width:fit-content;
        position: relative;
        bottom:50px;
        left:200px;
        color:black;
        
        
        
    }
.answer >p {
    padding-left:30px;
}
.correct-answer >p{
    padding-left:30px;
}

.submit {
   left:80%;
    position: relative;
    top: 50px;
    
}

@media (min-width: 700px){
    .start-quiz{
        width:50%;
    }
    .end-quiz {
        width:50%;
    }
    .quiz-content{
        width:60%;
    }
    .answers-container{
        width:60%;
    }
    .answers-container{
    flex-wrap:wrap;
    }
    .answers{
        width:50%;
    }
    
}